@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    main {
        div.container {
            width: 100%;
            flex-direction: column !important;
            text-align: center;

            .top {
                padding: 20px 30px;

                h1 {
                    font-family: 'Comfortaa', cursive;
                }

            }


            .bottom {
                width: 100%;
                text-align: center;

                div.img-wrapper {
                    height: 80px;
                    width: 80px;
                    text-align: center;
                    border-radius: 50%;
                    border: solid 0.01px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
    }
}