@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter&family=Shrikhand&display=swap');

// font-family: 'Comfortaa', cursive;
// font-family: 'Inter', sans-serif;
// font-family: 'Shrikhand', cursive;
html {
    body {
        main {

            .newsletter {
                text-align: center;

                h4 {
                    margin: 0;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                @media (min-width:600px) {
                    flex-direction: row;
                    gap: 10px;
                    text-align: center;
                    width: 80%;
                }
            }

            .offers {
                div {
                    .caption {

                        .title {
                            font-size: 25px;
                            text-transform: uppercase;
                        }
                    }

                    img {
                        width: 100%;
                        height: 75%;
                    }
                }
            }

            div.top-rated {
                div.row {
                    &>.col {
                        div.card {
                            height: 300px !important;
                            background-blend-mode: overlay;

                            div {
                                @media (max-width:600px) {
                                    flex-direction: column;
                                }
                            }

                            span.ratings {
                                svg {
                                    color: #d7942d;
                                }
                            }

                            span.source {
                                color: #FAF3E0;

                                a {
                                    color: #FAF3E0;
                                }
                            }

                        }

                        &:nth-child(1) {
                            div.card {

                                background-position: 10% 8%;
                            }

                        }

                        &:nth-child(2) {
                            div.card {
                                background-position: 10% 33%;
                            }
                        }

                        &:nth-child(3) {
                            div.card {
                                background-position: 10% 48%;
                            }
                        }

                        &:nth-child(4) {
                            div.card {
                                background-position: 10% 48%;
                            }
                        }

                        &:nth-child(5) {
                            div.card {
                                background-position: 60% 33%;
                            }
                        }

                        &:nth-child(6) {
                            div.card {
                                background-position: 50% 75%;
                            }
                        }



                    }
                }
            }

        }
    }
}