html {
    body {
        main {
            nav+div {
                &+div {
                    &>div {
                        flex-direction: column;
                        align-items: center;

                        @media (min-width:600px) {
                            flex-direction: row;
                            align-items: flex-start;
                        }

                        div.filter-panel {
                            @media (max-width:600px) {
                                width: 50%;
                            }
                        }
                    }
                }
            }

            .results {
                @media (max-width:600px) {
                    width: 100%;
                }

                section {
                    margin: 10px;
                    width: 80%;
                    border-radius: 20px;
                    display: flex;

                    @media (max-width:600px) {
                        flex-direction: column;
                    }

                    img {
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;
                        width: 300px;

                        @media (max-width:600px) {
                            border-radius: 10px;
                            width: 100%;
                        }
                    }

                    div.def-wrapper {
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                        width: 100%;
                        justify-content: center;
                        gap: 10px;

                        span.ratings {
                            color: #d7942d;
                        }

                        span.price {
                            align-self: flex-end;
                            background-color: #d7942d;
                            padding: 3px;
                            color: #fff;
                        }

                        button {
                            align-self: flex-start;
                        }
                    }
                }
            }
        }
    }
}