html {
    body {
        main {
            div.card {
                div.card-text {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 10px;
                }
            }
        }
    }
}