    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter&family=Shrikhand&display=swap');

    html {
        body {
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;

            header {
                flex-direction: column;
                background-color: #FAF3E0;

                @media (min-width:600px) {
                    flex-direction: row;
                }

                img {
                    @media (min-width:600px) {
                        width: 30%;
                    }
                }

                .c-wrapper {
                    flex-direction: column;
                    align-items: center;

                    @media (min-width:600px) {
                        flex-direction: row;
                    }
                }

            }

            main {
                #nav-logo{
                    height: 100px;
                    object-fit: contain;
                }
                h1 {
                    font-family: 'Comfortaa', cursive;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                span.labels {
                    border: solid 0.01px;
                    font-size: 10px;
                    text-transform: uppercase;
                    padding: 3px;
                }


            }

            .card>img {
                height: 250px !important;

                @media (min-width:900px) and (max-width:1000px) {
                    height: 150px !important;
                }
            }

            span.source {
                font-size: 10px;
                font-style: italic;

            }

            footer {
                background-color: #3A424C;
                color: #FAF3E0;
            }
        }
    }