@import "partials/colors";

body {
    color: $color3;

    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 8%;
        background-color: $color5;

        span {
            width: 100%;
            text-align: center;
            padding: 1rem 0;
            font-size: 70px;
            color: $color1;
        }

        nav {
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            ul {
                padding: 0;
                list-style: none;
                display: inline-flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;

                li {
                    padding: 1rem;


                    a {
                        text-decoration: none;
                        color: $color1;
                        text-transform: uppercase;

                        i {
                            font-size: 25px;
                        }
                    }
                }


            }
        }
    }

    main {
        width: 92%;
        background-color: white;
        display: flex;
        flex-direction: column;

        header {
            flex-basis: 20%;
            padding: 1rem 0 1rem 1rem;

            h1 {
                font-family: 'Montserrat', sans-serif;
                margin: 0;
            }
        }

        .container {

            flex-basis: 70%;
            display: inline-flex;

            .sidenav-container {
                width: 10%;

                ul {
                    list-style: none;
                    padding: 0;
                    display: inline-flex;
                    flex-direction: column;
                    gap: 10px;

                    li {
                        width: 100%;
                        padding: 1rem 2rem;
                        background-color: $color3;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;

                        &:hover {
                            background-color: $color2;
                            transform: scale(1.1);
                        }

                        a {
                            display: inline-flex;
                            gap: 8px;
                            text-decoration: none;
                            color: $color5;

                        }
                    }
                }
            }
        }

        footer {
            color: $color1;
            padding: 0 0 0.5rem 0.5rem;
        }
    }
}