@import "partials/fonts";
@import "partials/colors";

html {
    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: row;
        height: 100%;
    }
}