// Chat-system

$bg:#EFFFFD;
$msg: #B8FFF9;
$hdr: #85F4FF;
$txt: #42C2FF;

$color1: rgb(4, 15, 15);
$color2: rgb(106, 141, 146);
$color3: rgb(247, 178, 189);
$color4: rgb(240, 247, 238);
$color5: rgb(121, 128, 134);